@import url('https://fonts.cdnfonts.com/css/azonix');

body 
{
    padding: 0px;
    margin: 0px;
    /* background-image: url('/images/background.png'); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 1)), url('/images/background.png');

    background-color: rebeccapurple;
    background-attachment: fixed;
    background-size: cover;
}

/* h1
{
    text-align: center;
    font-size:75px;
    color: white;
    font-family: 'Azonix', sans-serif;
} */

h2
{
    text-align: center;
    font-size: 45px;
    color: white;
    font-family: 'Azonix', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

h5
{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.Profiles
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0px 50px 0px 50px;
    padding-bottom: 0px;
    
}

.ProfileCard
{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    text-decoration: none;
    border: 5px solid darkblue;
    border-radius: 20px;
}

.ProfileCardContent 
{
    width: 210px;
    height: 175px;
    justify-content:center;
    text-decoration: none;
}

.ProfileCardContent a
{
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}

.foot
{
    background-color: lightpink;
    padding-bottom: 0px;
    justify-items:center;
    justify-content: center;
}

.amlogo
{
    text-decoration: none;
    display: flex;
    justify-content: right;
    
}

.amlogo a
{
    margin: -41px 20px 0px 10px;
}